@font-face {
   font-family: mumpitz;
   src: url(../fonts/mumpitz.otf);
}

#navigation {
	margin: 0 auto;
	width: 80%;

}

.no-repeat {
	background-repeat: no-repeat;
	background-size: contain;
}

.ratio:before {
	content: "";
	display: block;
}

.right {
	float: right;
}


.left {
	float: left;
}

.banner:before {
	padding-top: 100%;
}

#cloud {
	background-image: url("../assets/bannerCLOUD.svg");
	margin-top: 3%;
}

#cloud:before {
	padding-top: 21.0%;
}

#bannerA {
	background-image: url("../assets/bannerA.svg");
	width: 12%;
	/*transform: translateY(-350%);*/
  margin-top: -23%;
  margin-right: -2%;
}

#bannerA:before {
	padding-top: 100%;
}

#bannerB {
	background-image: url("../assets/bannerB.svg");
	width: 8%;
	margin-top: -11%;
	margin-right: -2%;
}

#bannerC {
	background-image: url("../assets/bannerC.svg");
	width: 8%;
	margin-right: 4%;
}

#bannerC:before {
	padding-top: 35%;
}

#banner1 {
	background-image: url("../assets/banner1.svg");
	width: 12%;
	margin-left: 5%;
	margin-top: 2%;
}

#banner1:hover div div div {
	background-image: url("../assets/banner1BUBBLE.svg");
	width: 9vw;
	margin-top: -8vw;
	margin-left: -8.0vw;
}


#banner2 {
	background-image: url("../assets/banner2.svg");
	width: 12%;
	margin-left: 4%;
	margin-top: 2%;
}



#banner3 {
	background-image: url("../assets/banner3.svg");
	width: 14%;
	margin-left: 4%;
	margin-top: 2%;
}


#banner4 {
	background-image: url("../assets/banner4.svg");
	width: 14%;
	margin-left: 4%;
	margin-top: 2%;
}


#banner5 {
	background-image: url("../assets/banner5.svg");
	width: 12%;
	margin-left: 4%;
	margin-top: 2%;	
}


#post-body {
	font-family: mumpitz;
	font-size: 18pt;
	clear: both;
}

#post-body,
#post-body > * {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#post-body a {
	text-decoration: none;
	color: #B404AE;
}

.comic-strip, .comic-image {
	width: 75%;
	max-width: 1000px;
	display: block;
}

.comic-image {
	padding-bottom: 1em;
}

@media only screen and (max-width: 800px) {
  
  #cloud {
	background-image: url("../assets/bannerCLOUDmobile.svg");
	margin-top: 3%;
}


  #navlinks {
    display:block;
  }

  #navlinks a {
    display:block;
  }

  .left {
    float:none;  
  }

  .banner:before {
    padding-top: 30%;
  }
  




  #banner1 {
    margin-left: 0%;
   
  }

  #banner2 {
    margin-left: 0%;
  }

  #banner3 {
    margin-left: 0%;
  }

  #banner4 {
    margin-left: 0%;
  }

  #banner5 {
    margin-left: 0.5%;
  }

  .except {
    display: inline;
    width: auto; 
  }
    
}
