title: comics
author: Carla
date: 16-10-2015
headline: Rotkäppchen

{% extends "post.html" %}
{% block body %}

	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen.png' %}"  alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen1.png' %}" alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen2.png' %}" alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen3.png' %}" alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen4.png' %}" alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen5.png' %}" alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen6.png' %}" alt="">
	<img class="comic-image" src="{% static 'content/original/wood.png' %}"  alt="">	
	

	<img class="comic-image" src="{% static 'content/comics/ed-header.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/suicide-attempt-1.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/edkatze1.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/suicide-attempt-2.png' %}"  alt="">	
	<img class="comic-image" src="{% static 'content/comics/edkatze2.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/suicide-attempt-3.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/edkatze3.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/edsaga.png' %}"  alt="">	



	<img class="comic-image" src="{% static 'content/comics/vivalavino.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/le-lemur.png' %}"  alt="">

	<img class="comic-image" src="{% static 'content/comics/drugs1.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/drugs2.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/drugs3.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/drugs.png' %}"  alt="">

	<img class="comic-image" src="{% static 'content/comics/klaudius.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/tanzen.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/heinrich.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/dachsundnasebaer.png' %}"  alt="">


	<img class="comic-image" src="{% static 'content/comics/edcomic.png' %}"  alt="">


	<img class="comic-strip" src="{% static 'content/comics/genesisa.png' %}"  alt="">
	<img class="comic-strip" src="{% static 'content/comics/genesisb.png' %}"  alt="">
	<img class="comic-strip" src="{% static 'content/comics/genesisc.png' %}"  alt="">	
	<img class="comic-strip" src="{% static 'content/comics/genesisd.png' %}"  alt="">






{% endblock body %}