title: Comics
author: Carla
date: 16-10-2015

{% extends "post.html" %}
{% block body %}


	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen.png' %}"  alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen1.png' %}" alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen2.png' %}" alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen3.png' %}" alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen4.png' %}" alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen5.png' %}" alt="">
	<img class="comic-strip" src="{% static 'content/comics/rotkaeppchen6.png' %}" alt="">

	<img class="comic-image" src="{% static 'content/comics/edkatze1.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/edkatze2.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/edkatze3.png' %}"  alt="">

{% endblock body %}