title: digital
author: Carla
date: 16-10-2015

{% extends "post.html" %}
{% block body %}

	<img class="comic-image" src="{% static 'content/digital/conversations.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/fuxi.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/sweet-love.png' %}"  alt="">	
	<img class="comic-image" src="{% static 'content/digital/trippy.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/trippybig.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/monchichi.png' %}"  alt="">		
	<img class="comic-image" src="{% static 'content/digital/fishes.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/schwammerlposter.jpg' %}"  alt="">		
	<img class="comic-image" src="{% static 'content/digital/aha.png' %}"  alt="">	
	<img class="comic-image" src="{% static 'content/digital/doohh.png' %}"  alt="">	
	<img class="comic-image" src="{% static 'content/digital/bike.png' %}"  alt="">	



	<img class="comic-image" src="{% static 'content/digital/birnenmarmelade.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/unfinzim.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/licorice.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/lost-in-space2.png' %}"  alt="">


	<img class="comic-image" src="{% static 'content/digital/sheepi.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/goodbye-2012.png' %}"  alt="">	
	<img class="comic-image" src="{% static 'content/digital/bananajuice.png' %}"  alt="">

	<img class="comic-image" src="{% static 'content/digital/life-is-strange.png' %}"  alt="">	

	<img class="comic-image" src="{% static 'content/digital/aaa.png' %}"  alt="">	







{% endblock body %}