title: drawingsdigital
author: Carla
date: 16-10-2015

{% extends "post.html" %}
{% block body %}

	<img class="comic-image" src="{% static 'content/digital/fishes.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/trippy.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/trippybig.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/monchichi.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/conversations.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/birnenmarmelade.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/unfinzim.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/licorice.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/digital/lostinspace10.png' %}"  alt="">	
	<img class="comic-image" src="{% static 'content/digital/lost-in-space2.png' %}"  alt="">
		<img class="comic-image" src="{% static 'content/digital/peekaboo.png' %}"  alt="">







{% endblock body %}