title: editorial
author: Carla
date: 16-10-2015

{% extends "post.html" %}
{% block body %}


<img class="comic-image" src="{% static 'content/design/schulzeitung1.png' %}"  alt="">
<img class="comic-image" src="{% static 'content/design/schulzeitung2.png' %}"  alt="">
<img class="comic-image" src="{% static 'content/design/schulzeitung3.png' %}"  alt="">
<img class="comic-image" src="{% static 'content/design/schulzeitung4.png' %}"  alt="">
<img class="comic-image" src="{% static 'content/design/schulzeitung5.png' %}"  alt="">
<img class="comic-image" src="{% static 'content/design/kochbuch.png' %}"  alt="">
<img class="comic-image" src="{% static 'content/design/kochbuch1.png' %}"  alt="">

{% endblock body %}
