title: krixikraxi
author: Carla
date: 16-10-2015

{% extends "post.html" %}
{% block body %}

	<img class="comic-image" src="{% static 'content/original/skizzenbuch12.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/a.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/bonggirl.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/amazing-chicken.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/birdie.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/fischi.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/huhu.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/mutz.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/tja.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/bandit.png' %}"  alt="">

{% endblock body %}