title: pages
author: Carla
date: 16-10-2015

{% extends "post.html" %}
{% block body %}


	<img class="comic-image" src="{% static 'content/comics/le-lemur.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/heinrich.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/tanzen.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/klaudius.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/comics/comicspage.png' %}"  alt="">	
	<img class="comic-image" src="{% static 'content/comics/dachsundnasebaer.png' %}"  alt="">

{% endblock body %}