title: prints
author: Carla
date: 16-10-2015

{% extends "post.html" %}
{% block body %}

	<img class="comic-image" src="{% static 'content/original/angryfish.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/squid.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/squid1.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/rot.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/skizzenbuchprint.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/skizzenbuchprint2.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/skizzenbuchprint3.png' %}"  alt="">


{% endblock body %}