title: stencils
author: Carla
date: 16-10-2015

{% extends "post.html" %}
{% block body %}

	<img class="comic-image" src="{% static 'content/original/gatogata.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/kellywatchthestars.png' %}"  alt="">	
	<img class="comic-image" src="{% static 'content/original/goat.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/huehnchen.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/huehnchen2.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/skizzenbuchprint3.png' %}"  alt="">
	<img class="comic-image" src="{% static 'content/original/high-rider.png' %}"  alt="">


{% endblock body %}