title: videos
author: Carla
date: 16-10-2015

{% extends "post.html" %}
{% block body %}

	<img class="comic-image" src="{% static 'content/videos/inner-circle.gif' %}"  alt="">
	<img style="margin-top: 100px;"class="comic-image" src="{% static 'content/videos/lost-in-space-new.gif' %}"  alt="">
	<img class="comic-image" src="{% static 'content/videos/pass-the-bong.gif' %}"  alt="">
	<img style="margin-top: 160px;" class="comic-image" src="{% static 'content/videos/stoopidpidgin.gif' %}"  alt="">
	<a href="https://soundcloud.com/derpdida/">soundcloud link</a>

	<img style="margin-top: 160px;" class="comic-image" src="{% static 'content/videos/umadum.gif' %}"  alt="">
	<img style="margin-top: 160px;" class="comic-image" src="{% static 'content/videos/wichtelbw.gif' %}"  alt="">	
	<img class="comic-image" src="{% static 'content/videos/tanz-maedchen.gif' %}"  alt="">







{% endblock body %}